.productivity-chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
  }
  
  .chart-placeholder {
    height: 200px;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    background-color: #3106bf; /* Màu nền */
    border: solid 2px #000; /* Bỏ viền */
    color: white; /* Màu chữ */
    padding: 15px 32px; /* Khoảng cách padding */
    text-align: center; /* Căn giữa chữ */
    text-decoration: none; /* Bỏ gạch chân */
    display: inline-block; /* Hiển thị dưới dạng block-inline */
    font-size: 16px; /* Kích thước chữ */
    margin: 4px 2px; /* Khoảng cách margin */
    cursor: pointer; /* Đổi con trỏ thành hình tay */
    border-radius: 12px; /* Bo tròn góc */
    transition-duration: 0.4s; /* Thời gian chuyển tiếp */
  }
  
button:hover {
    background-color: rgb(13, 225, 34); /* Đổi màu nền khi hover */
    color: black; /* Đổi màu chữ khi hover */
    border: solid 2px #000;
  }